.textareabox
    // height 100%
    textarea
        height 100%
        width 100%
        padding 10px
        color #6d6e70
        background #FFF
        resize none
        border-color #00ADEE
        &:active,&:focus,&:hover
            box-shadow 0 0 5px 0px #00ADEE inset