:host
    width 100%
.action-plan-commitment-data
    padding 10px 0
    margin 0
    &-content
        padding-left 0
        padding-right 15px
        &:last-child
            padding-right 0
        calc-outlet
            font-size 0.875rem
            font-weight 600
            color #6D6E70
        textareabox,
        calc-input
            font-size 0.875rem
        &.textareabox-container
            // height 40px
        & > [class^="col-sm"]
            padding 0