:host
    display inline-block

.project
    font-size 0.75rem
    font-weight 500
    align-items center
    &-name
        font-size 0.875rem
    &-launch
        &-btn
            cursor pointer
            background url("../../../../../assets/images/icons/StartBtn.svg") no-repeat
            background-size cover
            height 30px
            width 30px
        .fa
            color #00ADEE
            &:before
                font-size 2.5rem