.landing-page {
  background: url("../../../../assets/images/landing-background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  overflow: auto;
}
.landing-page .container {
  height: 100%;
}
.landing-page .row {
  margin: 0;
}
.landing-page .row .heading {
  margin: 25px 0;
}
.landing-page .row .heading .logo {
  background: url("../../../../assets/images/SantenLogo.svg") no-repeat;
  height: 30px;
  width: 75px;
}
.landing-page .row .heading .title {
  color: #000;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 27px;
  font-weight: 500;
  padding-left: 20px;
}
.landing-page .row .intro-text {
  margin-bottom: 25px;
}
.landing-page .row .intro-text-heading {
  margin-bottom: 5px;
  font-size: 1.15rem;
  font-weight: 500;
}
.landing-page .row .intro-text-content {
  font-size: 0.875rem;
}
.landing-page .row.landing-page-content {
  height: 100%;
}
.landing-page .row.landing-page-content .landing-page-content-container {
  background-color: rgba(255,255,255,0.5);
}
.landing-page .row.landing-page-content .team-row .team-label {
  padding: 0;
  font-size: 0.875rem;
}
.landing-page .row.landing-page-content .projects-container {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 15px;
  height: calc(100% - 324px);
}
.landing-page .row.landing-page-content .projects-container im-projectchooser {
  width: 100%;
  height: 100%;
}
