.landing-page
    background url("../../../../assets/images/landing-background.jpg") no-repeat
    background-size cover
    background-position center
    width 100%
    height 100%
    padding 0 15px
    overflow auto
    .container
        height 100%
    .row
        margin 0
        .heading
            margin 25px 0
            .logo
                background url("../../../../assets/images/SantenLogo.svg") no-repeat
                height 30px
                width 75px
            .title
                color #000
                text-transform uppercase
                font-size 1.1rem
                line-height 27px
                font-weight 500
                padding-left 20px
        .intro-text
            margin-bottom 25px
            &-heading
                margin-bottom 5px
                font-size 1.15rem
                font-weight 500
            &-content
                font-size 0.875rem
        &.landing-page-content
            height 100%
            .landing-page-content-container
                background-color rgba(255, 255, 255, 0.5)
            .team-row
                .team-label
                    padding 0
                    font-size 0.875 rem
            .projects-container
                margin-left -15px
                margin-right -15px
                padding-top 15px
                height calc(100% - 324px)
                im-projectchooser
                    width 100%
                    height 100%