<div class="dashboard-data-wrapper">
    <div class="row data-row heading-row">
        <div class="col data-label">
            <calc-outlet ref="tlOutput_Lbl_NewSubSRPInv" useRawValue="true"></calc-outlet>
        </div>
    </div>

    <div class="row data-row">
        <div class="col data-label">
            <calc-outlet ref="tlOutput_Lbl_MtExp" useRawValue="true"></calc-outlet>
        </div>
        <div class="col data-value">
            <calc-outlet ref="calcTotalMTCost_AllYears"></calc-outlet>
        </div>
    </div>

    <div class="row data-row">
        <div class="col data-label">
            <calc-outlet ref="tlOutput_Lbl_NewSubSRP" useRawValue="true"></calc-outlet>
        </div>
        <div class="col data-value">
            <calc-outlet ref="calcTotalSubSRP3Yr"></calc-outlet>
        </div>
    </div>

    <div class="row data-row">
        <div class="col data-label">
            <calc-outlet ref="tlOutput_Lbl_Yr1Header" useRawValue="true"></calc-outlet>
        </div>
        <div class="col data-value">
            <calc-outlet ref="calcTotalYr1_CostTotal"></calc-outlet>
        </div>
    </div>

    <div class="row data-row">
        <div class="col data-label">
            <calc-outlet ref="tlOutput_Lbl_Yr2Header" useRawValue="true"></calc-outlet>
        </div>
        <div class="col data-value">
            <calc-outlet ref="calcTotalYr2_CostTotal"></calc-outlet>
        </div>
    </div>

    <div class="row data-row">
        <div class="col data-label">
            <calc-outlet ref="tlOutput_Lbl_Yr3Header" useRawValue="true"></calc-outlet>
        </div>
        <div class="col data-value">
            <calc-outlet ref="calcTotalYr3_CostTotal"></calc-outlet>
        </div>
    </div>
</div>