.dashboard-data-wrapper
    .data-row
        padding 10px
        .data-label
            text-align left
            calc-outlet, text-outlet
                color #FFF
                font-size 0.8125rem
                line-height 0.8125rem
        .data-value
            text-align right
            calc-outlet, text-outlet
                color #FFF
            calc-outlet
                font-size 0.937rem
                line-height 0.937rem
                font-weight 500
                color #d0df4d
    .heading-row
        .data-label
            text-align center