:host
    cursor pointer
    margin-right 5px
    display inline-block
    // background-color #FB420C
    color #00a9e0
    height 20px
    width 20px
    border 2px solid #00a9e0
    border-radius 50%
    &:hover
        // background-color #D80365
        color #003a70
        border 2px solid #003a70
    .icon
        height 15px
        width 15px
        margin-top -8px

    .tooltip-icon
        font-size 11px
        text-align center