<div class="intro-page row animated">
    <div class="left-section col-sm-4">
        <div class="carlsberg-logo-container row">
            <div class="carlsberg-logo"></div>
        </div>
    </div>
    <div class="right-section col-sm-8">
        <div class="shadow-effect"></div>
        <div class="inputs-container">
            <div class="input-field-row row">
                <div class="field round-output"><span><calc-outlet ref="tlOutputRound"></calc-outlet></span></div>
                <div class="field team-number-input"><calc-input ref="tlInputTeamNumber" [IsReadOnly]="currentYear != 1"></calc-input></div>
            </div>
            <div class="input-field-label-row row">
                <div class="round-label labels"><text-outlet key="Round"></text-outlet></div>
                <div class="team-number-label labels"><text-outlet key="TeamNumber"></text-outlet></div>
            </div>
            <div class="team-name-container row">
                <div class="team-name-label col-sm-12"><text-outlet key="TeamName"></text-outlet></div>
                <div class="team-name-input"><calc-input ref="tlInputTeamName" placeholder="Team Name" [IsReadOnly]="currentYear != 1"></calc-input></div>
            </div>

            <div class="next-button-container row">
                <div class="col-sm-4">
                <div class="next-button">
                    <span class="fa fa-chevron-right" (click)="navigateToCompanyPage()"></span>
                </div>
                </div>
            </div>

        </div>
<!--         <div class="inputs-container">
            <div class="round-container row">
                <div class="round-label col-sm-3"><text-outlet key="Round"></text-outlet></div>
                <div class="round-output col-sm-3"><calc-outlet ref="tlOutputRound"></calc-outlet></div>
            </div>
            <div class="team-name-container row">
                <div class="team-name-label col-sm-3"><text-outlet key="TeamName"></text-outlet></div>
                <div class="team-name-input col-sm-3"><calc-input ref="tlInputTeamName"></calc-input></div>
            </div>
            <div class="team-number-container row">
                <div class="team-number-label col-sm-3"><text-outlet key="TeamNumber"></text-outlet></div>
                <div class="team-number-input col-sm-3"><calc-input ref="tlInputTeamNumber"></calc-input></div>
            </div>            
            <div class="next-button-container row">
                <div class="col-sm-6">
                <div class="next-button">
                    <span class="fa fa-chevron-right" (click)="navigateToCompanyPage()"></span>
                </div>
                </div>
            </div>
        </div>
 -->    </div>
</div>

<div bsModal #logoutModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" [config]="{backdrop: 'static', 'keyboard': false}">
    <div class="modal-dialog modal-sm logout-modal">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title"><text-outlet key="Logout"></text-outlet></h4>
        </div>
        <div class="modal-body">
            <text-outlet key="LogoutConfirmMsg"></text-outlet>
        </div>
        <div class="button-container">
            <button type="button" class="btn btn-danger yes-button" (click)="hideAlert(true)"  [routerLink]="['/logout']"><text-outlet key="Yes"></text-outlet></button>
            <button type="button" class="btn btn-primary no-button" (click)="hideAlert()"><text-outlet key="No"></text-outlet></button>
        </div>
        </div>
    </div>
</div>

