.metrics-wrapper
    .data-heading
        calc-outlet,text-outlet
            /*font-weight 600*/
            font-size 0.875rem
            color #FFF
            text-decoration underline
            @media screen and (min-width 1025px)
                font-size 1rem
    .data-row
        .data-label,.data-value
            calc-outlet,text-outlet
                font-size 13px
                color #FFF
            @media screen and (min-width 1025px)
                font-size 1rem
            @media screen and (max-width 768px)
                display block
        .data-value
            calc-outlet,text-outlet
                font-weight 600
