/*.text-container
    position absolute
    left 50%
    top 50%
    -webkit-transform translate(-50%,-50%)
    transform translate(-50%,-50%)
    .text
        font-size 5rem
        line-height 5rem
        color #FFF
        font-weight 500*/
.image-container
    position absolute
    left 50%
    top 50%
    -webkit-transform translate(-50%,-50%)
    transform translate(-50%,-50%)
    .image
        height 100px