input, select, textarea {
    color #000000
    width 100%
}

textarea:focus, input:focus {
    color #0000ff
}

.button
    &Color
        color #000000

.hidden {
    display none
}

.modal-content
    font-size 12px

.handCursor
    cursor pointer

.column
.right
    text-align right


.placeholder
    visibility hidden

.paddingleft
    padding-left 2em

select
    color #FFFFFF
    background-color #09b8ef

.row-header-consumer
    .labelwTooltip-margin
        float right
    .row-tooltip
        float right