input,
select,
textarea {
  color: #000;
  width: 100%;
}
textarea:focus,
input:focus {
  color: #00f;
}
.buttonColor {
  color: #000;
}
.hidden {
  display: none;
}
.modal-content {
  font-size: 12px;
}
.handCursor {
  cursor: pointer;
}
.column,
.right {
  text-align: right;
}
.placeholder {
  visibility: hidden;
}
.paddingleft {
  padding-left: 2em;
}
select {
  color: #fff;
  background-color: #09b8ef;
}
.row-header-consumer .labelwTooltip-margin {
  float: right;
}
.row-header-consumer .row-tooltip {
  float: right;
}
