.inputs-page-wrapper
    .data-row
        .data-label
            // display block
            padding 0px
            @media screen and (max-width 1024px)
                font-size 14px
        .data-value
            text-align right


.mt-25
    margin-top 35px !important
