input, select, textarea {
    color #000000
    width 100%
}

textarea:focus, input:focus {
    color #0000ff
}

.button
    &Color
        color #000000

.hidden {
    display none
}

.modal-content
    font-size 12px

.handCursor
    cursor pointer

.placeholder
    visibility hidden

.paddingleft
    padding-left 2em

.right
    text-align right

.basicbar-chart
    padding 12px