:host
    cursor pointer
    margin-right 5px
    display inline-block
    background-color #FB420C
    color #FFF
    height 15px
    width 15px
    &:hover
        background-color #D80365
        &:before
            color #FFF
    .icon
        height 15px
        width 15px
        margin-top -8px

    .tooltip-icon
        width 15px
        font-size 10px
        line-height 15px
        text-align center