@import '../../../../assets/css/colors.styl'

.planningTool
    input
        width 100%
        max-width 96px
input
    /*background-color #D9D9D9*/
    /*border 1px solid #D9D9D9*/
    width 100% 
    max-width 111px
    border-radius 0
    text-align left
    font-size 0.875rem
    text-align center
    overflow hidden
    color #000
    height 25px
    line-height 25px
    cursor text
    border none
    &.read-only
        pointer-events none
    @media screen and (max-width 350px)
            height 35px
            line-height 35px
    &:active,&:focus, &:hover
        outline none
        background-color #FFF
        color #000
        box-shadow inset 1px 1px 5px #bababa
        border 1px solid #bababa
:host(.disabled)
    input
        background-color #6D6E70
        color #fff
        pointer-events none
        
:host-context(.intro-container)
    input
        height 50px
        line-height 50px
        border 3px solid #0053AB
        max-width none
        background-color #fff
        &:active,&:focus, &:hover
            background-color #0053AB
            color #fff
            box-shadow none
        &.read-only
            background-color #0053AB
            color #fff
            box-shadow none
    


/*:host-context(.colorOne)
    input
        color $color1

:host-context(.colorTwo)
    input
        color $color2
        
:host-context(.colorThree)
    input
        color $color3

:host-context(.colorFour)
    input
        color $color4*/