<div class="scenario-wrapper">
    <div class="data-row data-heading row">
        <div class="data-label col-sm-4"></div>
        <div class="data-label col-sm-2">
            <b><text-outlet key="Scenario1"></text-outlet></b>
        </div>
        <div class="data-label col-sm-2">
            <b><text-outlet key="Scenario2"></text-outlet></b>
        </div>
        <div class="data-label col-sm-2">
            <b><text-outlet key="Scenario3"></text-outlet></b>
        </div>
        <div class="data-label col-sm-2">
            <b><text-outlet key="Scenario4"></text-outlet></b>
        </div>
    </div>   
    <div class="data-row row">
        <div class="data-label col-sm-4">
            <text-outlet key="ScenarioLabel1"></text-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_K6" format="$0.aM" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_L6,tlOutput_tlInputFinancials_M6,tlOutput_tlInputFinancials_N6" [showBlank]="showBlankScenario1"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_L6" format="$0.aM" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K6,tlOutput_tlInputFinancials_M6,tlOutput_tlInputFinancials_N6" [showBlank]="showBlankScenario2"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_M6" format="$0.aM" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K6,tlOutput_tlInputFinancials_L6,tlOutput_tlInputFinancials_N6" [showBlank]="showBlankScenario3"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_N6" format="$0.aM" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K6,tlOutput_tlInputFinancials_L6,tlOutput_tlInputFinancials_M6" [showBlank]="showBlankScenario4"></calc-outlet>
        </div>
    </div>
    <div class="data-row row">
        <div class="data-label col-sm-4">
            <text-outlet key="ScenarioLabel2"></text-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_K7" format="$0.aM" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_L7,tlOutput_tlInputFinancials_M7,tlOutput_tlInputFinancials_N7" isReversed="true" [showBlank]="showBlankScenario1"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_L7" format="$0.aM" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K7,tlOutput_tlInputFinancials_M7,tlOutput_tlInputFinancials_N7" isReversed="true" [showBlank]="showBlankScenario2"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_M7" format="$0.aM" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K7,tlOutput_tlInputFinancials_L7,tlOutput_tlInputFinancials_N7" isReversed="true" [showBlank]="showBlankScenario3"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_N7" format="$0.aM" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K7,tlOutput_tlInputFinancials_L7,tlOutput_tlInputFinancials_M7" isReversed="true" [showBlank]="showBlankScenario4"></calc-outlet>
        </div>
    </div>
    <div class="data-row row">
        <div class="data-label col-sm-4">
            <text-outlet key="ScenarioLabel3"></text-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_K8" format="0.00" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_L8,tlOutput_tlInputFinancials_M8,tlOutput_tlInputFinancials_N8" [showBlank]="showBlankScenario1"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_L8" format="0.00" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K8,tlOutput_tlInputFinancials_M8,tlOutput_tlInputFinancials_N8" [showBlank]="showBlankScenario2"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_M8" format="0.00" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K8,tlOutput_tlInputFinancials_L8,tlOutput_tlInputFinancials_N8" [showBlank]="showBlankScenario3"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_N8" format="0.00" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K8,tlOutput_tlInputFinancials_L8,tlOutput_tlInputFinancials_M8" [showBlank]="showBlankScenario4"></calc-outlet>
        </div>
    </div>
    <div class="data-row row">
        <div class="data-label col-sm-4">
            <text-outlet key="ScenarioLabel4"></text-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_K9" format="0.0%" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_L9,tlOutput_tlInputFinancials_M9,tlOutput_tlInputFinancials_N9" [showBlank]="showBlankScenario1"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_L9" format="0.0%" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K9,tlOutput_tlInputFinancials_M9,tlOutput_tlInputFinancials_N9" [showBlank]="showBlankScenario2"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_M9" format="0.0%" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K9,tlOutput_tlInputFinancials_L9,tlOutput_tlInputFinancials_N9" [showBlank]="showBlankScenario3"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_N9" format="0.0%" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K9,tlOutput_tlInputFinancials_L9,tlOutput_tlInputFinancials_M9" [showBlank]="showBlankScenario4"></calc-outlet>
        </div>
    </div>
    <div class="data-row row mt-25">
        <div class="data-label col-sm-4">
            <text-outlet key="ScenarioLabel5"></text-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_K11" format="0.00" suffix="Years" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_L11,tlOutput_tlInputFinancials_M11,tlOutput_tlInputFinancials_N11" isReversed="true" [showBlank]="showBlankScenario1"></calc-outlet> 
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_L11" format="0.00" suffix="Years" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K11,tlOutput_tlInputFinancials_M11,tlOutput_tlInputFinancials_N11" isReversed="true" [showBlank]="showBlankScenario2"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_M11" format="0.00" suffix="Years" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K11,tlOutput_tlInputFinancials_L11,tlOutput_tlInputFinancials_N11" isReversed="true" [showBlank]="showBlankScenario3"></calc-outlet> 
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_N11" format="0.00" suffix="Years" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K11,tlOutput_tlInputFinancials_L11,tlOutput_tlInputFinancials_M11" isReversed="true" [showBlank]="showBlankScenario4"></calc-outlet>
        </div>
    </div>
    <div class="data-row row">
        <div class="data-label col-sm-4">
            <text-outlet key="ScenarioLabel6"></text-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_K12" format="$0,0" suffix="MM" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_L12,tlOutput_tlInputFinancials_M12,tlOutput_tlInputFinancials_N12" isReversed="true" [showBlank]="showBlankScenario1"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_L12" format="$0,0" suffix="MM" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K12,tlOutput_tlInputFinancials_M12,tlOutput_tlInputFinancials_N12" isReversed="true" [showBlank]="showBlankScenario2"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_M12" format="$0,0" suffix="MM" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K12,tlOutput_tlInputFinancials_L12,tlOutput_tlInputFinancials_N12" isReversed="true" [showBlank]="showBlankScenario3"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_N12" format="$0,0" suffix="MM" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K12,tlOutput_tlInputFinancials_L12,tlOutput_tlInputFinancials_M12" isReversed="true" [showBlank]="showBlankScenario4"></calc-outlet>
        </div>
    </div>

    <div class="data-row row">
        <div class="data-label col-sm-4">
            <text-outlet key="Payback (Years)"></text-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_K13" format="0" suffix="Years" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_L13,tlOutput_tlInputFinancials_M13,tlOutput_tlInputFinancials_N13" isReversed="true" [showBlank]="showBlankScenario1"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_L13" format="0" suffix="Years" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K13,tlOutput_tlInputFinancials_M13,tlOutput_tlInputFinancials_N13" isReversed="true" [showBlank]="showBlankScenario2"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_M13" format="0" suffix="Years" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K13,tlOutput_tlInputFinancials_L13,tlOutput_tlInputFinancials_N13" isReversed="true" [showBlank]="showBlankScenario3"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_N13" format="0" suffix="Years" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K13,tlOutput_tlInputFinancials_L13,tlOutput_tlInputFinancials_M13" isReversed="true" [showBlank]="showBlankScenario4"></calc-outlet>
        </div>
    </div>
    <div class="data-row row mt-25">
        <div class="data-label col-sm-4">
            <text-outlet key="ScenarioLabel7"></text-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_K14" format="0.0a" suffix="MBD" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_L14,tlOutput_tlInputFinancials_M15,tlOutput_tlInputFinancials_N15" [showBlank]="showBlankScenario1"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_L14" format="0.0a" suffix="MBD" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K14,tlOutput_tlInputFinancials_M15,tlOutput_tlInputFinancials_N15" [showBlank]="showBlankScenario2"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_M15" format="0.0a" suffix="MBD" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K14,tlOutput_tlInputFinancials_L14,tlOutput_tlInputFinancials_N15" [showBlank]="showBlankScenario3"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_N15" format="0.0a" suffix="MBD" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K14,tlOutput_tlInputFinancials_L14,tlOutput_tlInputFinancials_M15" [showBlank]="showBlankScenario4"></calc-outlet>
        </div>
    </div>

    <div class="data-row row">
        <div class="data-label col-sm-4">
            <text-outlet key="ScenarioLabel8"></text-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_K15" format="0a" suffix="MMBBL" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_L15,tlOutput_tlInputFinancials_M16,tlOutput_tlInputFinancials_N16" [showBlank]="showBlankScenario1"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_L15" format="0a" suffix="MMBBL" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K15,tlOutput_tlInputFinancials_M16,tlOutput_tlInputFinancials_N16" [showBlank]="showBlankScenario2"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_M16" format="0a" suffix="MMBBL" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K15,tlOutput_tlInputFinancials_L15,tlOutput_tlInputFinancials_N16" [showBlank]="showBlankScenario3"></calc-outlet>
        </div>
        <div class="data-value col-sm-2">
            <calc-outlet ref="tlOutput_tlInputFinancials_N16" format="0a" suffix="MMBBL" highlightValue="true" formerValueRef="tlOutput_tlInputFinancials_K15,tlOutput_tlInputFinancials_L15,tlOutput_tlInputFinancials_M16" [showBlank]="showBlankScenario4"></calc-outlet>
        </div>
    </div>    
</div>