:host
    display block
    .hidden.active ~ .dashboard
        display none
    .dashboard
        display block

.dashboard
    background-color #FFF
    .row
        margin 0
    .format-bar
        background-color #dcdcdc
    .topbar
        padding-top 15px
        .heading-link-container
            padding 0
            &:after
                clear both
                width 100%
            .heading
                display inline-block
                padding-left 10px
                padding-bottom 10px
                .logo
                    background url("../../../../assets/images/SantenLogo.svg") no-repeat
                    height 25px
                    width 65px
                .title
                    color #000
                    text-transform uppercase
                    font-size 1rem
                    line-height 27px
                    font-weight 500
                    padding-left 10px
            
            .logout-link
                position relative
                text-align center
                top -3px
                cursor pointer
                @media screen and (min-width 992px)
                    -webkit-box-ordinal-group 2
                    order 1
                &-icon
                    display inline-block
                    background url("../../../../assets/images/icons/logout.svg") no-repeat
                    background-size cover
                    height 20px
                    width 20px
                    transform scaleX(-1)
                &-label
                    margin-top -8px
                text-outlet
                    font-size 0.75rem
                    bottom 0
                    left 0
                    right 0
            .navigation-bar
                float right
                padding 0
                &-container
                    float right
                    height 100%
                    @media screen and (max-width 992px)
                        float none
                        justify-content center
                &-link
                    font-weight 500
                    display inline-block
                    padding 0 11px 10px
                    cursor pointer
                    &:hover
                        color #034ea1                        
                    &.active
                        border-bottom 5px solid #034ea1
                        color #034ea1
                        padding-bottom 0
        .format-metric-bar
            background-color #6d6e70
            &-container
                padding 0
                .metric-tools-container
                    padding 10px 0
                    .metric-tools-row
                        display none
                        &.active
                            display flex
                        [class*="col-"]
                            padding 0px
                        .dashboard-icon
                            display inline-block
                            background url("../../../../assets/images/icons/Dashboard.svg") no-repeat
                            width 100px
                            height 40px
                        .metric-tools-heading
                            color #fff
                            text-align center
                            font-size 12px
                            @media screen and (max-width 992px)
                                font-size 11px
                        .metric-tools-data
                            color #99dcf5
                            text-align center
                            font-size 18px
                .format-tools-container
                    text-align center
                    padding 15px 0
                    background-color #88898A
                    font-size 0.875rem
                    color #FFF
                    align-items center
                    justify-content space-around
                    .sync
                        &-icon
                            display inline-block
                            background url("../../../../assets/images/icons/Sync.svg") no-repeat
                            background-size cover
                            height 13px
                            width 13px                            
                    .format-tool
                        cursor pointer
                        &.disable-format-tool
                            pointer-events none
                            color #b9b8b8
                        &:hover
                            color #F0F0F0
                        &:active
                            color #99dcf5
                        &:first-child
                            padding-left 5px
                        &.help
                            a
                                text-decoration none
                                color #FFF
                                &:hover
                                    color inherit
                                &:active
                                    color #99dcf5

.reset-modal, .logout-modal
    .button-container
        padding 0 15px 10px
        text-align center
        .yes-button
            float left
        .no-button
            float right
        &:after
            clear both