.charts-wrapper
    height calc(100% - 200px)
    overflow auto
    background-color rgba(255,255,255,0.3)
    .chart-row
        padding 10px
        background-color rgba(255,255,255,0.8)
        background-clip content-box
        .chart-heading
            padding 15px
            background-color rgba(0,0,0,0.8)
            color #FFF
            font-weight 500
            calc-outlet
                color #FFF
                text-decoration underline
        .chart-container
            padding 15px
            border 1px solid
            .line-chart
                padding-left 0
            .column-chart
                padding-right 0