.people-wrapper
    margin 10px !important
    margin-bottom 0
    background-color #fff
    .sub-heading-text-container
        .sub-heading-text
            padding 10px 0
            color #EB9400
            text-outlet,calc-outlet
                font-size 1.125rem
                line-height 1.125rem
            @media screen and (min-width 1025px)
                font-size 1.25rem
                text-outlet,calc-outlet
                    font-size 1.25rem
    .chart-container
        padding 10px 15px
        .people-chart-container
            box-shadow 0 0 0 2px #00a1e0
    .heading-row
        align-items center
        .data-label
            font-weight 500
            // display block
    .data-row
        align-items center
        margin 10px 0
        .data-label
            font-weight 500
            color #333
            calc-outlet
                font-size 1rem
            @media screen and (min-width 1025px)
                text-outlet,calc-outlet
                    font-size 1.125rem
        .data-value
            // display block
    .data-column
        > .data-label, > .data-value
            margin 10px 0
            padding 0

    .line-break
        margin-top 8px
        margin-bottom 8px

.bold-text
    font-weight 500