.strategy-wrapper
    .data-wrapper
        padding 10px 0
        .header-container
            .header-text
                font-size 1.5rem
                color #00a9e0
                padding 15px 0 5px
            .header-info
                font-size 0.875rem
                color #A1A1A1
                padding-left 5px
                font-style italic
        .data-container
            .data-row
                padding 10px 0
                border-bottom 1px solid #F1F1F1
                align-items center
                :last-child
                    border-bottom none
                .data-label
                    color #A1A1A1
                .data-value
                    text-align center
                    color #A1A1A1
                &.sub-header-row
                    .data-label
                        color #00a9e0
                        font-size 1.5rem
                        padding 0
                &.primary-row
                    .data-label
                        color #000
                    .data-value
                        color #000
                &.header-row
                    .data-label
                        text-align center
                        color #000
                        font-weight 500
                        &.error-text
                            color #DA291C

.red
    background-color #DA291C
.orange
    background-color #ED8B00
.green
    background-color #78BE20
.cyan
    background #00A9E0

.colored
    padding 7px 15px