.messageItem
    cursor pointer
    border-bottom 1px solid lightgray
    height 54px
    margin-top 20px

    &-name
     float left
     padding 9px 0px 0px 12px
     font-size 13px

    &-icon
     float left
     


.hidden
    display none
.message
    &IsViewed
        cursor pointer
        color gray
    &IsNormal
        cursor pointer
        color #0AB9F0
        .messageItem-icon
            border-radius 50%
            border 3px solid #0AB9F0
