.messageItem {
  cursor: pointer;
  border-bottom: 1px solid #d3d3d3;
  height: 54px;
  margin-top: 20px;
}
.messageItem-name {
  float: left;
  padding: 9px 0px 0px 12px;
  font-size: 13px;
}
.messageItem-icon {
  float: left;
}
.hidden {
  display: none;
}
.messageIsViewed {
  cursor: pointer;
  color: #808080;
}
.messageIsNormal {
  cursor: pointer;
  color: #0ab9f0;
}
.messageIsNormal .messageItem-icon {
  border-radius: 50%;
  border: 3px solid #0ab9f0;
}
