<div class="decision-summary-page-container">
  <div class="report-wrapper row">
    <div class="header-container col-sm-12">
      <div class="header-text">
        <isma-calc-outlet ref="tlOutput_toolDecSummary_B3"></isma-calc-outlet>
      </div>
    </div>

    <div class="report-container col-sm-12">
      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C5"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_D5"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K5"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_M5" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row sub-header-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_B7"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row header-row row">
        <div class="data-label col-sm-3 col-md-4">
        </div>
        <div class="data-label col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G9"></isma-calc-outlet>
        </div>
        <div class="data-label col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I9"></isma-calc-outlet>
        </div>
        <div class="data-label col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K9"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C10"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C12"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G12" format="0.0%" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I12" format="0.0%" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K12" format="0.0%" highlightNegative="true"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C14"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C16"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G16" format="$0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I16" format="$0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K16" format="$0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C18"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C20"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G20" format="0,0ak" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I20" format="0,0ak" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K20" format="0,0ak" highlightNegative="true"></isma-calc-outlet>
        </div>
      </div>


      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C22"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G22" format="0,0ak" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I22" format="0,0ak" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K22" format="0,0ak" highlightNegative="true"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C24"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G24" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C26"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G26" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>


      <div class="data-row sub-header-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_B28"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row header-row row">
        <div class="data-label col-sm-3 col-md-4">
        </div>
        <div class="data-label col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G30"></isma-calc-outlet>
        </div>
        <div class="data-label col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I30"></isma-calc-outlet>
        </div>
        <div class="data-label col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K30"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C31"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C33"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G33" format="0.0%" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I33" format="0.0%" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K33" format="0.0%" highlightNegative="true"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C35"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C37"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G37" format="$0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I37" format="$0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K37" format="$0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C39"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C41"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G41" format="0,0ak" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I41" format="0,0ak" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K41" format="0,0ak" highlightNegative="true"></isma-calc-outlet>
        </div>
      </div>


      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C43"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G43" format="0,0ak" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I43" format="0,0ak" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K43" format="0,0ak" highlightNegative="true"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C45"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G45" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C47"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G47" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>


      <div class="data-row sub-header-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_B49"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C51"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C53"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_E53"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I53"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K53"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I55"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K55"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C56"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row header-row row">
        <div class="data-label col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C58"></isma-calc-outlet>
        </div>
        <div class="data-label col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_E58"></isma-calc-outlet>
        </div>
        <div class="data-label col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G58"></isma-calc-outlet>
        </div>
        <div class="data-label col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I58"></isma-calc-outlet>
        </div>
        <div class="data-label col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K58"></isma-calc-outlet>
        </div>
        <div class="data-label col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_M58"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-value col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C60"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_E60" format="$0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G60"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I60" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K60" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_M60" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-value col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C62"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_E62" format="$0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G62"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I62" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K62" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-2 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_M62" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row sub-header-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_B64"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C67"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_E67" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G67"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I67" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K67"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_M67" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>


      <div class="data-row sub-header-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_B70"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row header-row row">
        <div class="data-label col-sm-3 col-md-4">
        </div>
        <div class="data-label col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G72"></isma-calc-outlet>
        </div>
        <div class="data-label col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I72"></isma-calc-outlet>
        </div>
        <div class="data-label col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K72"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C72"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C75"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G75" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I75" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_K75" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C77"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C79"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G79" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I79"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_M79" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C81"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C83"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G83" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_I81"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row secondary-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_C83"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_M83" format="0,0" highlightNegative="true"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>


      <div class="data-row sub-header-row row">
        <div class="data-label col-sm-3 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_B86"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
        <div class="data-value col-sm-3 col-md">
        </div>
      </div>

      <div class="data-row header-row row">
        <div class="data-label col-sm-4 col-md-4">
        </div>
        <div class="data-label col-sm-4 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_E88"></isma-calc-outlet>
        </div>
        <div class="data-label col-sm-4 col-md">
          <isma-calc-outlet ref="tlOutput_toolDecSummary_G88"></isma-calc-outlet>
        </div>
      </div>

      
      <div class="data-row primary-row row">
        <div class="data-label col-sm-4 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolPrograms_D48" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_D58" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_D68" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-4 col-md">
          <isma-calc-outlet ref="tlOutput_toolPrograms_I48" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_I58" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_I68" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-4 col-md">
          <isma-calc-outlet ref="tlOutput_toolPrograms_K48" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_K58" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_K68" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-4 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolPrograms_D49" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_D59" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_D69" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-4 col-md">
          <isma-calc-outlet ref="tlOutput_toolPrograms_I49" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_I59" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_I69" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-4 col-md">
          <isma-calc-outlet ref="tlOutput_toolPrograms_K49" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_K59" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_K69" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-4 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolPrograms_D50" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_D60" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_D70" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-4 col-md">
          <isma-calc-outlet ref="tlOutput_toolPrograms_I50" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_I60" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_I70" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-4 col-md">
          <isma-calc-outlet ref="tlOutput_toolPrograms_K50" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_K60" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_K70" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-4 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolPrograms_D51" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_D61" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_D71" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-4 col-md">
          <isma-calc-outlet ref="tlOutput_toolPrograms_I51" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_I61" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_I71" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-4 col-md">
          <isma-calc-outlet ref="tlOutput_toolPrograms_K51" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_K61" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_K71" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
      </div>

      <div class="data-row primary-row row">
        <div class="data-label col-sm-4 col-md-4">
          <isma-calc-outlet ref="tlOutput_toolPrograms_D52" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_D62" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_D72" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-4 col-md">
          <isma-calc-outlet ref="tlOutput_toolPrograms_I52" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_I62" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_I72" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
        <div class="data-value col-sm-4 col-md">
          <isma-calc-outlet ref="tlOutput_toolPrograms_K52" *ngIf="currentYear == 1"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_K62" *ngIf="currentYear == 2"></isma-calc-outlet>
          <isma-calc-outlet ref="tlOutput_toolPrograms_K72" *ngIf="currentYear == 3"></isma-calc-outlet>
        </div>
      </div>

    </div>
  </div>
</div>