<div class="balancesheet-wrapper">
    <div class="header-container col-sm-12">
        <div class="header-text">
            <isma-calc-outlet ref="tlOutput_toolBalSheet_B2"></isma-calc-outlet>
        </div>
        <div class="header-info">
            <isma-calc-outlet ref="tlOutput_toolBalSheet_B3"></isma-calc-outlet>
        </div>
    </div>
    <div class="report-wrapper row">
        <div class="report-container col-sm-12 col-xl-6">
            <div class="data-row header-row row">
                <div class="data-value col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_C5"></isma-calc-outlet>
                </div>
                <div class="data-label col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_G5"></isma-calc-outlet>
                </div>
                <div class="data-label col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_I5"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row sub-header-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_D7"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_E8"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_G8" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_I8" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_E9"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_E10"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_G10" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_I10" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_E11"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_G11" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_I11" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row total-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_D12"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_G12" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_I12" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_D14"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_E15"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_G15" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_I15" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_E16"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_G16" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_I16" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_E17"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_G17" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_I17" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row total-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_D18"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_G18" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_I18" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_D20"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_G20" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_I20" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_D22"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_G22" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_I22" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row header-total-row primary-row total-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_C24"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_G24" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_I24" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
        </div>

        <div class="report-container col-sm-12 col-xl-6">
            <div class="data-row header-row row">
                <div class="data-value col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_K5"></isma-calc-outlet>
                </div>
                <div class="data-label col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_P5"></isma-calc-outlet>
                </div>
                <div class="data-label col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_R5"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row sub-header-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_L7"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_M8"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_N9"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_P9" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_R9" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_N10"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_P10" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_R10" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_N11"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_P11" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_R11" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row total-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_M12"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_P12" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_R12" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_M14"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_P14" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_R14" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row primary-row total-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_L16"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_P16" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_R16" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_L18"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_M19"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_P19" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_R19" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_M20"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_P20" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_R20" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_M21"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_P21" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_R21" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row total-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_L22"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_P22" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_R22" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row header-total-row primary-row total-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_K24"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_P24" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolBalSheet_R24" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
        </div>
    </div>
</div>