// :host
//     height calc(100vh - 50px)
//     overflow auto
//     display block
.balancesheet-wrapper
    .header-container
        .header-text
            font-size 1.5rem
            color #00a9e0
            padding 15px 0 5px
            border-bottom 1px solid #F1F1F1
        .header-info
            font-size 0.875rem
            color #A1A1A1
            padding-left 5px
            font-style italic
    .report-wrapper
        .report-container
            display flex
            flex-direction column
            justify-content space-between
            .data-row
                padding 10px 0
                border-bottom 1px solid #F1F1F1
                align-items center
                :last-child
                    border-bottom none
                .data-label
                    color #A1A1A1
                .data-value
                    text-align center
                    white-space nowrap
                    color #A1A1A1
                &.sub-header-row
                    margin-top 10px
                    .data-label
                        color #00a9e0
                        font-size 1.5rem
                        padding 0
                &.primary-row
                    .data-label
                        color #000
                    .data-value
                        color #000
                &.secondary-row
                    .data-label
                        color #A1A1A1
                        padding-left 50px
                    .data-value
                        color #A1A1A1
                &.header-row
                    .data-label
                        text-align center
                        color #000
                        font-weight 500
                    .data-value
                        color #000
                        font-weight 500
                