:host
    height calc(100vh - 190px)
    display block
.isHidden
    display none

.feedback
    &-chart
        height 60%

#feedback-charttopper
    text-align center
    width 100%
    background #fff
    padding 1rem 25% 0 10%
    margin 0
    box-sizing border-box
    table
        table-layout fixed
        