.main
    .row
        height 100%
        .dashboard-app
            padding 0
            width 170px
            height 100%
            @media screen and (max-width 1080px)
                height 200px
                width 100%
        .topnavbar-page
            // padding 30px
            width calc(100% - 170px)
            height 100%
            background url("../../../assets/images/bg.jpg")
            background-size cover
            overflow hidden
            display -webkit-box
            display -webkit-flex
            display -ms-flexbox
            display flex
            flex-direction column
            @media screen and (max-width 1080px)
                height calc(100% - 200px)
                width 100%
.hidden
    display none
    &.active
        & ~ .dashboard-app
            display none
        & ~ .topnavbar-page         
            -webkit-box-flex 0
            -webkit-flex 0 0 100%
            -ms-flex 0 0 100%
            flex 0 0 100%
            max-width 100%
            padding 0 !important
            background none !important
            background-color #FFF
            height 100% !important
            & topnavbar
                display none
        &.show-topnavbar ~ .topnavbar-page
            & topnavbar
                display block
    &.hide-topnavbar ~ .topnavbar-page
            & topnavbar
                display none
                