@import '../intro.button';

.intro-overview
    height 80vh
    width 60%
    margin 10vh auto
    background #f2f2f2
    padding 20px
    color #6D747E
    &-wrapper
        background #fff
        height 100%
        padding 20px
        overflow-y auto
    &-header
        padding 0
        margin 0
    &-image
        &-el
            width 100%
            margin 0
    &-title
        margin 0 0 20px 0
        &-el
            float left
            display block
            margin 0 20px 20px 20px
            font-size 38px
            line-height 50px
            font-weight 300
        & img
            float left
    &-content
        min-height 70%
        box-sizing border-box
        font-size 16px
        line-height 1.5em
        margin 0
    &-footer
        overflow hidden
        .btn-primary
            border-radius 5px
