.btn-wrapper {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.intro-overview {
  height: 80vh;
  width: 60%;
  margin: 10vh auto;
  background: #f2f2f2;
  padding: 20px;
  color: #6d747e;
}
.intro-overview-wrapper {
  background: #fff;
  height: 100%;
  padding: 20px;
  overflow-y: auto;
}
.intro-overview-header {
  padding: 0;
  margin: 0;
}
.intro-overview-image-el {
  width: 100%;
  margin: 0;
}
.intro-overview-title {
  margin: 0 0 20px 0;
}
.intro-overview-title-el {
  float: left;
  display: block;
  margin: 0 20px 20px 20px;
  font-size: 38px;
  line-height: 50px;
  font-weight: 300;
}
.intro-overview-title img {
  float: left;
}
.intro-overview-content {
  min-height: 70%;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
}
.intro-overview-footer {
  overflow: hidden;
}
.intro-overview-footer .btn-primary {
  border-radius: 5px;
}
