span {
  width: 100%;
  display: block;
  height: 100%;
}
input {
  color: #fff;
  background: #8bc876;
  padding-left: 8px;
  border: none;
  height: 100%;
  font-size: 16px;
  width: 100%;
  border-radius: 0;
  height: 30px;
}
input,
input:focus {
  outline: none;
}
:host-context(.planningTool) input {
  text-align: center;
  color: #fff;
}
