$main-color = #00a272
$highlight-color1 = #005944 /* dark green */
$highlight-color2 = #e97300 /* orange */
$highlight-color3 = #044DA2 /* dark blue */
$highlight-color4 = #27DAFF /* light blue */
$highlight-color5 = #E83200 /* dark orange */
$gray1 = #F2F2F2
$gray2 = #6b7368
$gray3 = #4a5247
$gray4 = #434951
$chart-color1 = #368da9
$chart-color2 = #003da2
$chart-color3 = #593cc9

/* client colors */
$primeColor = #8bc876
$secondaryColor = #ffe788
$brandBaseColor1 = #7ba96b
$brandBaseColor2 = #4f7345

/* functional colors */
$disabledColor = #ccd2d5