@import "colors"

maxWidth=12

calculateWidth(col)
    100 / (maxWidth / col) %

flexInnerCol(widthCol)
    -webkit-box-flex 0
    -webkit-flex 0 0 calculateWidth(widthCol)
    -ms-flex 0 0 calculateWidth(widthCol)
    flex 0 0 calculateWidth(widthCol)
    max-width calculateWidth(widthCol)

addFlexClass()
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex
    -webkit-flex-wrap wrap
    -ms-flex-wrap wrap
    flex-wrap wrap