
.scenario-table-data
    margin 5px 0px
    .row
        margin 0px  
    .metrics-data
        padding 0px
        .heading
            padding 6px 21px
            height 35px
            font-weight 500
            border-top 1px dotted
        .data-content
            padding 0px 6px
            height 35px
            margin 0px
        .metrics-heading
            padding 0px
            border-left 1px dotted
            border-bottom 1px dotted
        table
            margin 0px
            thead
                th
                    vertical-align middle
                    text-align center
                    color #034ea1
                    font-size 1rem
                    font-weight 500
                    border 1px dotted #000
            tbody
                td
                    border 1px dotted
                    text-align center
                    font-size 0.875rem
                    font-weight 500
                    vertical-align middle
                    &:first-child
                        border-left 0px
    .scrolling
        .headin-column
            border 1px dotted #000
            border-bottom 0px !important
            font-weight 500
            padding 6px
        .border-bottom
            border-bottom 1px dotted #000 !important
    .outer
        position relative
    .inner
        overflow-x auto
        overflow-y visible
        

    .key-metrics-data
        margin 10px auto
        .headings
            text-align center
            color #034ea1
            font-weight 500
            font-size 1rem
        .data-row
            font-weight 500
            border 1px dotted #000
            .heading-column
                font-size 1rem
                border-right 1px dotted #000
            .data-content
                font-size 0.875rem
                text-align center