<div class="row scenario-table-data">
    <div class="col-sm-12 metrics-data">
    <div class="scrolling outer">
        <div class="inner">
            <table class="table table-striped table-condensed">       
                    <thead>
                    <tr>
                        <th class="data-content headin-column"><text-outlet></text-outlet></th>
                        <th class="data-content"><text-outlet key="PreLaunch"></text-outlet></th>
                        <th class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'LaunchYear1'" format="0" useRawValue="true"></calc-outlet></th>
                        <th class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'LaunchYear2'" format="0" useRawValue="true"></calc-outlet></th>
                        <th class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'LaunchYear3'" format="0" useRawValue="true"></calc-outlet></th>
                        <th class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'LaunchYear4'" format="0" useRawValue="true"></calc-outlet></th>
                        <th class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'LaunchYear5'" format="0" useRawValue="true"></calc-outlet></th>
                        <th class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'LaunchYear6'" format="0" useRawValue="true"></calc-outlet></th>
                        <th class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'LaunchYear7'" format="0" useRawValue="true"></calc-outlet></th>
                        <th class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'LaunchYear8'" format="0" useRawValue="true"></calc-outlet></th>
                        <th class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'LaunchYear9'" format="0" useRawValue="true"></calc-outlet></th>
                        <th class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'LaunchYear10'" format="0" useRawValue="true"></calc-outlet></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 1st Row -->
                    <tr class="data-row">
                        <th class="data-content headin-column"><text-outlet key="NetSales"></text-outlet></th>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Sales0'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Sales1'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Sales2'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Sales3'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Sales4'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Sales5'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Sales6'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Sales7'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Sales8'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Sales9'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Sales10'" format="$0,0.0a"></calc-outlet></td>
                    </tr>
                    <!-- 2nd Row -->
                    <tr class="data-row">
                        <th class="data-content headin-column"><text-outlet key="COGS"></text-outlet></th>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'COGS0'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'COGS1'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'COGS2'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'COGS3'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'COGS4'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'COGS5'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'COGS6'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'COGS7'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'COGS8'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'COGS9'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'COGS10'" format="$0,0.0a"></calc-outlet></td>
                    </tr>
                    <!-- 3rd Row -->
                    <tr class="data-row">
                        <th class="data-content headin-column"><text-outlet key="GrossMargin"></text-outlet></th>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'GM0'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'GM1'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'GM2'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'GM3'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'GM4'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'GM5'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'GM6'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'GM7'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'GM8'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'GM9'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'GM10'" format="$0,0.0a"></calc-outlet></td>
                    </tr>
                    <!-- 4th Row -->
                    <tr class="data-row">
                        <th class="data-content headin-column"><text-outlet key="ResearchDevelopment"></text-outlet></th>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'RnD0'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'RnD1'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'RnD2'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'RnD3'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'RnD4'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'RnD5'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'RnD6'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'RnD7'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'RnD8'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'RnD9'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'RnD10'" format="$0,0.0a"></calc-outlet></td>
                    </tr>
                    <!-- 5th Row -->
                    <tr class="data-row">
                        <th class="data-content headin-column"><text-outlet key="SalesMarketing"></text-outlet></th>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'SnM0'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'SnM1'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'SnM2'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'SnM3'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'SnM4'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'SnM5'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'SnM6'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'SnM7'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'SnM8'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'SnM9'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'SnM10'" format="$0,0.0a"></calc-outlet></td>
                    </tr>
                    <!-- 6th Row -->
                    <tr class="data-row">
                        <th class="data-content headin-column"><text-outlet key="RoyaltyOther"></text-outlet></th>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Royalty0'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Royalty1'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Royalty2'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Royalty3'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Royalty4'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Royalty5'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Royalty6'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Royalty7'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Royalty8'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Royalty9'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Royalty10'" format="$0,0.0a"></calc-outlet></td>
                    </tr>
                    <!-- 7th Row -->
                    <tr class="data-row">
                        <th class="data-content headin-column"><text-outlet key="ProductMargin"></text-outlet></th>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OM0'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OM1'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OM2'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OM3'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OM4'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OM5'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OM6'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OM7'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OM8'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OM9'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OM10'" format="$0,0.0a"></calc-outlet></td>
                    </tr>
                    <!-- 8th Row -->
                    <tr class="data-row">
                        <th class="data-content headin-column"><text-outlet key="OperatingCashFlow"></text-outlet></th>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OCF0'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OCF1'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OCF2'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OCF3'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OCF4'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OCF5'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OCF6'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OCF7'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OCF8'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OCF9'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'OCF10'" format="$0,0.0a"></calc-outlet></td>
                    </tr>
                    <!-- 9th Row -->
                    <tr class="data-row">
                        <th class="data-content headin-column border-bottom"><text-outlet key="DiscountCashFlow"></text-outlet></th>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'DCF0'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'DCF1'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'DCF2'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'DCF3'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'DCF4'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'DCF5'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'DCF6'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'DCF7'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'DCF8'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'DCF9'" format="$0,0.0a"></calc-outlet></td>
                        <td class="data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'DCF10'" format="$0,0.0a"></calc-outlet></td>
                    </tr>
                    </tbody>
            </table>
        </div>
    </div>
    </div>


    <div class="col-sm-5 key-metrics-data">
        <div class="headings row">
            <div class="col-sm heading"><text-outlet key="KeyMetrics"></text-outlet></div>
        </div>
        <div class="row data-row roi-row">
            <div class="col-sm heading-column"><text-outlet key="Metric1"></text-outlet></div>
            <div class="col-sm data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'ROI'" format="0.0%"></calc-outlet></div>
        </div>
        <div class="row data-row epv-row">
            <div class="col-sm heading-column"><text-outlet key="Metric2"></text-outlet></div>
            <div class="col-sm data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'EPV'" format="($0,0a)"></calc-outlet></div>
        </div>
        <div class="row data-row npv-row">
            <div class="col-sm heading-column"><text-outlet key="Metric3"></text-outlet></div>
            <div class="col-sm data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'NPV'" format="($0,0a)"></calc-outlet></div>
        </div>
        <div class="row data-row peak-sales-row">
            <div class="col-sm heading-column"><text-outlet key="Metric4"></text-outlet></div>
            <div class="col-sm data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'PeakSales'" format="($0,0a)"></calc-outlet></div>
        </div>
        <div class="row data-row launch-date-row">
            <div class="col-sm heading-column"><text-outlet key="Metric5"></text-outlet></div>
            <div class="col-sm data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'LaunchDate'"></calc-outlet></div>
        </div>
        <div class="row data-row rd-cost-row">
            <div class="col-sm heading-column"><text-outlet key="Metric6"></text-outlet></div>
            <div class="col-sm data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'RnDCost'" format="($0,0a)"></calc-outlet></div>
        </div>
        <div class="row data-row pos-row">
            <div class="col-sm heading-column"><text-outlet key="Metric7"></text-outlet></div>
            <div class="col-sm data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'POS'" format="0.0%"></calc-outlet></div>
        </div>
        <div class="row data-row breakeven-row">
            <div class="col-sm heading-column"><text-outlet key="PrintBreakeven"></text-outlet></div>
            <div class="col-sm data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'Breakeven'"></calc-outlet></div>
        </div>
        <div class="row data-row irr-row">
            <div class="col-sm heading-column"><text-outlet key="IRR"></text-outlet></div>
            <div class="col-sm data-content"><calc-outlet [ref]="'tlOutputReportSummaryScenario'+scenarioId+'IRR'" format="0.0%"></calc-outlet></div>
        </div>
    </div>
</div>