// :host
//     width 100%
.accordian-container
    // width 100%
    display inline-flex
    background-color #FFF
    .accordian-title
        padding 10px 15px
        color #FFF
        background-color #003a70
        cursor pointer
        .title-text
            font-size 16px
            font-weight 500
        .title-value
            font-weight 600
        .toggle-button
            // position absolute
            // right 10px
            // top 15px
        &:hover
            background-color #00a9e0                   
    .accordian-data
        padding-top 0
        max-height 500px // anything above original height
        overflow hidden
        transition all 0.5s cubic-bezier(.5,0,.3,1)
        border 1px solid #d7d7d7
        &.hidden
            max-height 0
            
    &.upside-down
        .accordian-title
            order 2
        .accordian-data
            order 1
            