:host
    height calc(100vh - 185px)
    overflow auto
    display block
    @media screen and (max-width 768px)
        height calc(100vh - 275px)
.practice-data-container
    .header-container
        padding 15px
        background #7B8C9D
        border-radius 50px
        color #fff
        box-shadow 0px 3px 3px 2px #e1dbdb
        border-top 10px solid #fff
        position fixed
        width inherit
        max-width 1200px
        z-index 3
        @media screen and (max-width 768px)
            max-width 700px
        .header-icon
            font-size 1.325rem
            padding-right 5px
        .header-text,.header-sub-text
            font-size 1.325rem
            calc-outlet, text-outlet
                font-size 1.325rem
        .header-text
            font-weight 500
    .data-wrapper
        padding-top 70px
    .data-container
        .data-box
            padding 10px 0
            border-bottom 1px solid rgba(123, 140, 157, 0.2)
            &:last-child
                border-bottom none
        .data-heading
            padding 10px 0
            align-items center
            .data-heading-text
                font-size 1.25rem
                font-weight 500
                color #ff4901
            .data-info
                text-align right
        .data-row
            padding 10px 0
            align-items center
            .data-label
                text-align left
                font-size 1.125rem
                calc-outlet,text-outlet
                    font-size 1.125rem
                &.tooltip-container
                    display flex
                    align-items center
                    padding 0 10px
            .data-value
                text-align center
                font-size 1.125rem
                calc-outlet,text-outlet
                    font-size 1.125rem
        .secondary-row
            .data-label
                color rgba(123, 140, 157, 0.5)
                font-style italic
            .data-value
                color rgba(123, 140, 157, 0.5)
    .chart-container
        .graph-box
            padding 30px 0
            .graph-title
                text-align center
                font-weight 500