:host {
  height: 100%;
  width: 100%;
  display: inline-block;
}
.swot-input {
  border: 1px solid #a8adb4;
  height: 100%;
}
.swot-input-title {
  background: #4f7343;
  color: #fff;
  font-size: 0.875em;
  text-align: center;
  padding: 0.725em;
}
.swot-input-area {
  width: 100%;
  height: calc(100% - 3.088em);
}
.swot-input-area textarea {
  padding: 10px;
  display: inline-block;
  height: 100%;
  width: 100%;
  outline: none;
  color: #666;
  font-size: 0.925em;
  text-align: left;
  font-weight: normal;
  word-wrap: break-word;
  border-left: none;
  border-top: none;
  border-right: none;
  resize: none;
}
