.project-chooser {
  height: 100%;
}
.project-chooser .create-new-project {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 15px;
}
.project-chooser .create-new-project input:focus::-webkit-input-placeholder,
.project-chooser .create-new-project input:active::-webkit-input-placeholder {
  color: #fff;
}
.project-chooser .create-new-project input:focus:-moz-placeholder,
.project-chooser .create-new-project input:active:-moz-placeholder {
  color: #fff;
}
.project-chooser .create-new-project input:focus::-moz-placeholder,
.project-chooser .create-new-project input:active::-moz-placeholder {
  color: #fff;
}
.project-chooser .create-new-project input:focus:-ms-input-placeholder,
.project-chooser .create-new-project input:active:-ms-input-placeholder {
  color: #fff;
}
.project-chooser .create-new-project .project-launch {
  margin-left: 20px;
}
.project-chooser .create-new-project .project-launch-btn {
  cursor: pointer;
  background: url("../../../../assets/images/icons/StartBtn.svg") no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
}
.project-chooser .create-new-project .project-launch-btn.disabled {
  opacity: 0.3;
  cursor: default;
}
.project-chooser .create-new-project .project-launch .fa {
  color: #00adee;
}
.project-chooser .create-new-project .project-launch .fa:before {
  font-size: 2.5rem;
}
.project-chooser .create-new-project .new-project-heading {
  margin-bottom: 5px;
  padding-left: 0;
  font-size: 0.875rem;
}
.project-chooser .project {
  margin: 15px 0;
}
.project-chooser .project.row {
  display: block;
}
.project-chooser .project-heading {
  margin-bottom: 10px;
  padding: 0 15px;
  font-size: 1.2rem;
  font-weight: 500;
}
.project-chooser .project-name-input {
  width: 335px;
  background: #f0f0f0;
  border: 1px solid #6d747e;
  color: #6d747e;
  padding: 2px 10px;
  border-radius: 0;
  text-align: left;
  height: 35px;
}
.project-chooser .project-name-input:active,
.project-chooser .project-name-input:focus {
  outline: none;
  color: #fff;
  background-color: #034ea1;
}
.project-chooser .recent-projects {
  margin: 0 15px;
  height: calc(100% - 85px);
}
.project-chooser .recent-projects-container {
  padding-top: 20px;
  padding-bottom: 20px;
  height: calc(100% - 30px);
  overflow: auto;
  background-color: #fff;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-fill: auto;
  -moz-column-fill: auto;
  column-fill: auto;
}
