@import "mixin.styl"

/** Delivery Director Customisable **/
.dd-
    &brandBg-
        &primary
            background-color $dd-brand-primary
        &secondary
            background-color $dd-brand-secondary
    &brandTxt-
        &primary
            color $dd-brand-primary
        &secondary
            color $dd-brand-secondary
    &brandBorder-
        &primary
            border-color $dd-brand-primary
        &secondary
            border-color $dd-brand-secondary
/** Gateway Customisable **/
.gw-
    &brandBg-
        &primary
            background-color $gw-brand-primary
        &secondary
            background-color $gw-brand-secondary
    &brandTxt-
        &primary
            color $gw-brand-primary
        &secondary
            color $gw-brand-secondary