/** Common Variables **/
$alertError = #d03535
$alertSucess = #5cb85c
$shadow = #d3d3d3
$fontLight = 300
$fontRegular = normal
$fontSemibold = 600
$fontBold = bold
$fontExtraBold = 800
$fs-10 = (0.625)em
$fs-11 = (0.688)em
$fs-12 = (0.750)em
$fs-13 = (0.813)em
$fs-14 = (0.875)em
$fs-15 = (0.938)em
$fs-17 = (1.063)em
$fs-18 = (1.125)em
$fs-19 = (1.188)em
$fs-20 = (1.250)em
$fs-21 = (1.313)em
$fs-22 = (1.375)em
$fs-23 = (1.438)em
$fs-24 = (1.500)em
$fs-25 = (1.563)em
$fs-26 = (1.625)em
$fs-27 = (1.688)em
$fs-28 = (1.750)em
$fs-29 = (1.813)em
$fs-30 = (1.875)em
$fs-35 = (2.188)em
$fs-40 = (2.500)em
$fs-55 = (3.438)em
$fs-70 = (4.375)em

/** Delivery Director Custom **/
$dd-brand-primary = #28314a
$dd-brand-secondary = #f33b70
/** Delivery Director Non Custom **/
$dd-bg-dark = #434951
$dd-bg-nav = #a8adb4
$dd-bg-subnav = #ffffff
$dd-bg-btnGroup= #a8adb4
$dd-cellBg-dark = #e8e8e8
$dd-cellBg-light = #f2f2f2
$dd-cellBg-select = #ffffff
$dd-icon-dark = #7b838d
$dd-icon-light = #ffffff
$dd-input-bg = #ffffff
$dd-input-border = #cccccc
$dd-input-elements = #a8adb4
$dd-text-dark = #434951
$dd-text-light = #7b838d
$dd-text-lightest = #ffffff
$dd-border-light = #ffffff
$dd-scrollBg= #a8adb4
$dd-scrollBar= #434951

/** Gateway Custom **/
$gw-brand-primary = #87c530
$gw-brand-secondary = #ef7300
/** Gateway Non Custom **/
$gw-bg-dark = #e4e4e4
$gw-bg-light = #f5f5f5
$gw-bg-lightest = #ffffff
$gw-btn-dark = #6d747e
$gw-btn-light = #a8adb4
$gw-btn-lightest = #ffffff
$gw-icon = #ffffff
$gw-input-bg = #ffffff
$gw-input-border = #cccccc
$gw-input-elements = #cccccc
$gw-text-dark = #333333
$gw-text-light = #6d747e
$gw-text-lightest = #ffffff