:host
	font-size 0.875rem
	color #666
	text-align center
	@media screen and (max-width 768px)
		font-size 0.75rem
	
:host-context(.intro-page-wrapper){
	color #000
}
:host-context(.switch-to-heading){
    font-weight 500
    @media screen and (max-width 768px){
        font-size 0.875rem
    }
    @media screen and (max-width 576px){
        font-size 0.75rem
    }
}
