:host {
  display: block;
  height: calc(100% - 117px);
}
@media screen and (max-width: 992px) {
  :host {
    height: calc(100% - 147px);
  }
}
.scenarios {
  background: url("../../../../assets/images/scenario-background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 20px 0px;
  overflow: auto;
}
.scenarios-container {
  padding: 0px;
  overflow: auto;
}
