.slot-row
    flex-wrap nowrap
    margin 10px 0
    .data-column
        text-align center
        font-size 0.75rem
        min-width 69px
        padding 0 5px
    .index-column
        min-width 50px
        font-weight 500
        background-color #FFF
    .middle-column
        border-right 1px solid #E0DEDF
        margin -10px 0
        margin-bottom -50px
        calc-outlet
            position relative
            top 10px