.swot-wrapper
    .data-wrapper
        .header-container
            font-size 1.5rem
            color #00a9e0
            padding 15px
        .data-container
            .data-label
                font-weight 600
                text-align center