<div class="swot-wrapper">
    <div class="data-wrapper row">
        <div class="header-container col-sm-12">
            <span class="header-text">
                <isma-calc-outlet ref="tlOutput_toolAnalyVision_B5"></isma-calc-outlet>
            </span>
        </div>
        <div class="data-container col-sm-12">
            <div class="swot-input-row row">
                <div class="col-sm-6">
                    <div class="data-label">
                        <isma-calc-outlet ref="tlOutput_toolAnalyVision_B7"></isma-calc-outlet>
                    </div>
                    <div class="data-value">
                        <textareabox ref="tlInputSWOTs1" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTs2" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTs3" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTs4" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTs5" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="data-label">
                        <isma-calc-outlet ref="tlOutput_toolAnalyVision_H7"></isma-calc-outlet>
                    </div>
                    <div class="data-value">
                        <textareabox ref="tlInputSWOTw1" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTw2" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTw3" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTw4" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTw5" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                    </div>
                </div>
            </div>
            <div class="swot-input-row row">
                <div class="col-sm-6">
                    <div class="data-label">
                        <isma-calc-outlet ref="tlOutput_toolAnalyVision_B13"></isma-calc-outlet>
                    </div>
                    <div class="data-value">
                        <textareabox ref="tlInputSWOTo1" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTo2" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTo3" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTo4" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTo5" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="data-label">
                        <isma-calc-outlet ref="tlOutput_toolAnalyVision_H13"></isma-calc-outlet>
                    </div>
                    <div class="data-value">
                        <textareabox ref="tlInputSWOTt1" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTt2" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTt3" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTt4" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                        <textareabox ref="tlInputSWOTt5" textareaRows="1" [isReadOnly]="isReadOnly"></textareabox>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <div class="data-wrapper row">
        <div class="header-container col-sm-12">
            <span class="header-text">
                <isma-calc-outlet ref="tlOutput_toolAnalyVision_B20"></isma-calc-outlet>
            </span>
        </div>
        <div class="data-container col-sm-12">
            <textareabox ref="tlInputVision" [isReadOnly]="isReadOnly"></textareabox>
        </div>
    </div> 

    <div class="data-wrapper row">
        <div class="header-container col-sm-12">
            <span class="header-text">
                <isma-calc-outlet ref="tlOutput_toolAnalyVision_B32"></isma-calc-outlet>
            </span>
        </div>
        <div class="data-container col-sm-12">
            <textareabox ref="tlInputStratName" [isReadOnly]="isReadOnly"></textareabox>
        </div>
    </div> 
</div>