<div class="roictree-wrapper">
    <div class="roictree-container row">
        <div class="left-section col-lg-12 col-xl-4">
            <div class="data-label">
                <isma-calc-outlet ref="tlOutput_toolROIC_D14"></isma-calc-outlet>
            </div>
            <div class="data-value">
                <isma-calc-outlet ref="tlOutput_toolROIC_D15"></isma-calc-outlet>                
            </div>
        </div>
        <div class="right-section col-lg-12 col-xl-8">
            <div class="right-section-top row">
                <div class="right-section-top-left col-sm-6">
                    <custom-accordian headingLabelRef="tlOutput_toolROIC_G13" headingValueRef="tlOutput_toolROIC_G14" [dataContentRef]="NetRevenueTemplate" [isReversed]="true">
                        <ng-template #NetRevenueTemplate>
                            <div class="data-table">
                                <div class="data-row row">
                                    <div class="data-label col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_D7"></isma-calc-outlet>
                                    </div>
                                    <div class="data-value col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_G7"></isma-calc-outlet>
                                    </div>
                                </div>
                                <div class="data-row row">
                                    <div class="data-label col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_D8"></isma-calc-outlet>
                                    </div>
                                    <div class="data-value col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_G8"></isma-calc-outlet>
                                    </div>
                                </div>
                                <div class="data-row row">
                                    <div class="data-label col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_D9"></isma-calc-outlet>
                                    </div>
                                    <div class="data-value col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_G9"></isma-calc-outlet>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </custom-accordian>
                </div>
                <div class="right-section-top-right col-sm-6">
                    <custom-accordian headingLabelRef="tlOutput_toolROIC_M13" headingValueRef="tlOutput_toolROIC_M14" [dataContentRef]="CostTemplate" [isReversed]="true">
                        <ng-template #CostTemplate>
                            <div class="data-table">
                                <div class="data-row row">
                                    <div class="data-label col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_M7"></isma-calc-outlet>
                                    </div>
                                    <div class="data-value col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_P7"></isma-calc-outlet>
                                    </div>
                                </div>
                                <div class="data-row row">
                                    <div class="data-label col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_M8"></isma-calc-outlet>
                                    </div>
                                    <div class="data-value col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_P8"></isma-calc-outlet>
                                    </div>
                                </div>
                                <div class="data-row row">
                                    <div class="data-label col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_M9"></isma-calc-outlet>
                                    </div>
                                    <div class="data-value col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_P9"></isma-calc-outlet>
                                    </div>
                                </div>
                                <div class="data-row row">
                                    <div class="data-label col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_M10"></isma-calc-outlet>
                                    </div>
                                    <div class="data-value col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_P10"></isma-calc-outlet>
                                    </div>
                                </div>
                                <div class="data-row row">
                                    <div class="data-label col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_M11"></isma-calc-outlet>
                                    </div>
                                    <div class="data-value col-sm">
                                        <isma-calc-outlet ref="tlOutput_toolROIC_P11"></isma-calc-outlet>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </custom-accordian>
                </div>
            </div>
            <div class="right-section-bottom row">
                <custom-accordian headingLabelRef="tlOutput_toolROIC_I16" headingValueRef="tlOutput_toolROIC_J17" [dataContentRef]="InvestedCapitalTemplate">
                    <ng-template #InvestedCapitalTemplate>
                        <div class="data-table row">
                            <div class="data-col col-sm-2 col-md">
                                <div class="data-label">
                                    <isma-calc-outlet ref="tlOutput_toolROIC_D19"></isma-calc-outlet>
                                </div>
                                <div class="data-value">
                                    <isma-calc-outlet ref="tlOutput_toolROIC_D20"></isma-calc-outlet>
                                </div>
                            </div>
                            <div class="data-col col-sm-2 col-md">
                                <custom-accordian headingLabelRef="tlOutput_toolROIC_G19" headingValueRef="tlOutput_toolROIC_G20" [dataContentRef]="InventoriesTemplate">
                                    <ng-template #InventoriesTemplate>
                                        <div class="data-table">
                                            <div class="data-row row">
                                                <div class="data-label col-sm">
                                                    <isma-calc-outlet ref="tlOutput_toolROIC_I23"></isma-calc-outlet>
                                                </div>
                                                <div class="data-value col-sm">
                                                    <isma-calc-outlet ref="tlOutput_toolROIC_G23"></isma-calc-outlet>
                                                </div>
                                            </div>
                                            <div class="data-row row">
                                                <div class="data-label col-sm">
                                                    <isma-calc-outlet ref="tlOutput_toolROIC_I24"></isma-calc-outlet>
                                                </div>
                                                <div class="data-value col-sm">
                                                    <isma-calc-outlet ref="tlOutput_toolROIC_G24"></isma-calc-outlet>
                                                </div>
                                            </div>
                                            <div class="data-row row">
                                                <div class="data-label col-sm">
                                                    <isma-calc-outlet ref="tlOutput_toolROIC_I25"></isma-calc-outlet>
                                                </div>
                                                <div class="data-value col-sm">
                                                    <isma-calc-outlet ref="tlOutput_toolROIC_G25"></isma-calc-outlet>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </custom-accordian>
                            </div>
                            <div class="data-col col-sm-2 col-md">
                                <div class="data-label">
                                    <isma-calc-outlet ref="tlOutput_toolROIC_J19"></isma-calc-outlet>
                                </div>
                                <div class="data-value">
                                    <isma-calc-outlet ref="tlOutput_toolROIC_J20"></isma-calc-outlet>
                                </div>
                            </div>
                            <div class="data-col col-sm-2 col-md">
                                <div class="data-label">
                                    <isma-calc-outlet ref="tlOutput_toolROIC_M19"></isma-calc-outlet>
                                </div>
                                <div class="data-value">
                                    <isma-calc-outlet ref="tlOutput_toolROIC_M20"></isma-calc-outlet>
                                </div>
                            </div>
                            <div class="data-col col-sm-2 col-md">
                                <div class="data-label">
                                    <isma-calc-outlet ref="tlOutput_toolROIC_P19"></isma-calc-outlet>
                                </div>
                                <div class="data-value">
                                    <isma-calc-outlet ref="tlOutput_toolROIC_P20"></isma-calc-outlet>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </custom-accordian>
            </div>
        </div>
    </div>
</div>