.messageImage-holder {
  max-height: 250px;
  overflow: hidden;
}
.single-select {
  color: #6d747e;
  height: calc(100% -65px);
}
.single-selectContent {
  background-color: #fff;
}
.single-selectDecision {
  background-color: #f1eded;
  padding: 1.5em 1.5em 4em 1.5em;
}
.choice {
  margin-bottom: 10px;
}
.choice label {
  padding: 1em;
  cursor: pointer;
  display: table;
}
.choiceBackground {
  background: #ffe788;
  background: -moz-linear-gradient(top, #ffe788 0%, #fff1bb 100%);
  background: -webkit-linear-gradient(top, #ffe788 0%, #fff1bb 100%);
  background: linear-gradient(to bottom, #ffe788 0%, #fff1bb 100%);
  color: #376428;
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 10px;
}
.choiceBackground.choiceHighlight {
  background: #ffe788;
  color: #376428;
  border: solid 3px #376428;
}
.choiceBackground.choiceHighlight .choice-label {
  background: #376428;
  color: #ffe788;
}
.choice-label {
  width: 36px;
  height: 36px;
  line-height: 30px;
  border: solid 3px #376428;
  border-radius: 50%;
  font-size: 1.25em;
  font-weight: 500;
  display: block;
  text-align: center;
  transition: color 0.3s ease-out, background 0.3s ease-out;
}
.choice-header {
  font-size: 1.25em;
  font-weight: 500;
  padding: 5px;
}
.choice-desc {
  font-size: 1em;
  font-weight: 400;
  display: table-cell;
  line-height: 1.2em;
  padding: 5px;
}
