.regionteritory-data
    font-size 0.875rem
    color #666
    width 100%
    height calc(100vh - 235px)
    overflow-x hidden
    overflow-y auto
    &-title
        background -webkit-linear-gradient(left, #F2F2F2 , #FFF)
        background -o-linear-gradient(right, #F2F2F2, #FFF)
        background -moz-linear-gradient(right, #F2F2F2, #FFF)
        background linear-gradient(to right, #F2F2F2 , #FFF)
        padding 10px 0
        padding-left 15px
        &-container
            margin 0
            color #FE1010
    &-container
        padding-left 15px
        &-row
            padding-top 10px
        .heading-column
            font-size 0.875rem
            font-weight 500
            color #666
            text-align center
        .regionteritory-data-heading,
        .chart-title
            color #666
            font-weight 500
            font-size 1.125rem
            text-align left
            padding 2px 0
            @media screen and (max-width 1024px)
                font-size 1rem
        .chart-title
            text-align center
        .data
            &-value
                text-align center
                padding 0 2px
            &-row
                padding 2px 0
                align-items center
            &-table
                padding-bottom 30px
                border-bottom 1px solid #D9D9D9
        .data-row-sub-heading-column
            padding-left 25px
            font-size 0.8125rem
            font-style italic
        .heading-row
            padding 5px 0
        .rep-management,
        .bag-weighting
            padding-top 25px
            .row
                margin 0