@import '../intro.button';

.intro-email
    height 80vh
    width 60%
    margin 10vh auto
    background #f2f2f2
    padding 20px
    color #6D747E
    &-wrapper
        background #fff
        overflow auto
        margin 0
        padding 20px
        height 100%
    &-header
        padding 10px 0 20px 0
    &-image
        display block
        float left
        &-el
            width 75px
            height 75px
            border 5px solid #0AB9F0
            border-radius 50%
    &-title
        float left
    &-title span
        font-size 38px
        font-weight 300
        line-height 50px
        display block
        margin 10px 20px 20px 20px
    &-content
        min-height 70%
        box-sizing border-box
        font-size 16px
        line-height 1.5em
    &-footer
        overflow hidden
        .next-action
            text-align center
    &-next-button
        cursor pointer
        img
            margin 0 10px 
        span 
            padding 10px 15px
