// @import '../../../assets/css/colors.styl'

.modal
    display block
    background-color rgba(0,0,0,0.5)
.modal-dialog
    .modal-content
        padding 0
        margin 0
        transform translateY(35%)
        .modal-header
            padding: 15px;
            border-bottom: 1px solid #4f7345;
            h4
                color black
                margin 0
                font-weight 600
        .modal-body
            padding 3em
            linear-gradient(to bottom, #d2cece 80%, #d2cece 100%)
            input
                line-height initial
        .modal-footer
            padding 1em
            justify-content center
    .button-container
        text-align center
        button
            margin-right 1.5em
            &:last-child
                margin-right 0
        .btn-primary
            text-outlet
                background none
                padding 5px
                border-color none
        .yes-button
            // background #fb054b
            // border-color #fb054b
            // border-radius 20px
            border none
            float none
            transition box-shadow .3s ease-out, background .3s ease-out
            &:hover
                // background #b60839
                // box-shadow 0 6px 12px rgba(0,0,0,.2)
        .no-button
            // background $gray3
            border-radius 20px
            border none
            float none
            transition box-shadow .3s ease-out, background .3s ease-out
            &:hover
                // background $gray4
                box-shadow 0 6px 12px rgba(0,0,0,.2)

@keyframes closeAnima
    0%
        stroke-dasharray 10
        stroke-dashoffset 50
    30%
        stroke-dasharray 200
        stroke-dashoffset 0
    100%
        stroke-dasharray 200
        stroke-dashoffset 0





.flex-grid
    display grid
.flexrow
    flex 1

.highlighted
    background-color #FF0000
.disabled
    background-color #999999
    cursor default
    

/* wobbler modal */

.modal-content
    padding 40px
    .modal-header
        text-align center
        display block
        border none
        margin 0
        padding 0
        h4
            color $main-color
            margin-bottom 40px
    .modal-body
        margin 0
        padding 0
        color black
        
.loader
    position fixed
    top 0
    bottom 0
    left 0
    right 0
    background-color rgba(255,255,255,1)
    .loader-image
        background url('./assets/images/loader.gif') no-repeat
        background-size 100% 100%
        height 64px
        width 64px
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)        
