<!-- dont remove this line -->
<div class="hidden" [routerLink]="['/password']" [routerLinkActive]="['active']"></div>

<!-- Dashboard will be visible only on the tool pages - not on the home page -->
<div class="modal fade in password" *ngIf="!showLoader">

    <div class="modal-dialog  confirm-modal modal-md">
        <div class="modal-content" *ngIf="currentYear==1">
            <div class="modal-header">
                <h4 class="modal-title"><text-outlet key="EnterPassword"></text-outlet>
                <!--<calc-outlet ref="EnterPassword_R1"></calc-outlet>-->
                </h4>
            </div>
            <div class="modal-body center">
                <text-outlet key="PasswordText" asInnerHtml="true"></text-outlet>
                <br />
                <div *ngIf="showPasswordError==true"><text-outlet key="PasswordErrorMessage" asInnerHtml="true"></text-outlet></div>
                <input type="password" name="pwd" [(ngModel)]="submitPassword">
            </div>
            <div class="modal-footer button-container">
                <button type="button" class="btn btn-primary yes-button" (click)="hideSubmit(true)"><text-outlet key="Enter"></text-outlet></button>
            </div>
        </div>
        <div class="modal-content" *ngIf="currentYear==2">
            <div class="modal-header">
                <h4 class="modal-title"><text-outlet key="ThankYou"></text-outlet>
                <!--<calc-outlet ref="EnterPassword_R1"></calc-outlet>-->
                </h4>
            </div>
            <div class="modal-body center">
                <text-outlet key="AllRoundComplete"></text-outlet>
                <br />
                <div class="modal-footer button-container">
                    <button type="button" class="btn btn-primary yes-button" [routerLink]="['/logout']">
                        <text-outlet key="Logout"></text-outlet>
                    </button>
                </div>
               <!--  <div *ngIf="showPasswordError==true"><text-outlet key="PasswordErrorMessage" asInnerHtml="true"></text-outlet></div>
                <input type="password" name="pwd" [(ngModel)]="submitPassword"> -->
            </div>
            
        </div>
    </div>


</div>
<div class="loader" *ngIf="showLoader">
    <div class="loader-image"></div>Loading round 2
</div>
