:host
    height calc(100vh - 0px)
    // overflow auto
    padding 15px
    
.trees-wrapper
    height 100%
    .header-wrapper
        margin-bottom 10px
        .header-text
            text-transform uppercase
            font-weight 600
            font-size 1.5rem
            color #000
    .trees-container
        height calc(100% - 40px)