:host
    display inline-block
    width 100%
    height 35px
    background-color #03aeee
    color #fff
    
:host(.disabled)
    background-color #6D6E70
    .stepper-button
        pointer-events none
        color #DCDCDC
    
.stepper
    font-size 0.875rem
    & > *
      float left
      display inline-block
    .field-value
        width calc(100% - 15px)
        padding 7px 8px
        height 35px
        &.negative
            color red
    &-button
        cursor pointer
        display inline-block
        font-size 12px
        width 15px
        height 15px
        position absolute
        right 0px
        margin-right 8px
        color #fff
        text-align center
        -webkit-transform translateY(calc(50% - 2px))
        -moz-transform translateY(calc(50% - 2px))
        -ms-transform translateY(calc(50% - 2px))
        transform translateY(calc(50% - 2px))
        text-shadow 1px 1px 2px #ccc
        &:active
            text-shadow none
            color #555
    .add
        top 0px
        margin-top 1px
    .subtract
        top 20px
    .hidden
        display none