.performance-dashboard-wrapper
    .row
        margin 0px
    .col-sm-10
        padding 0
    .performance-dashboard
        width 100%
        &-heading
            width 100%
            padding 5px
            text-align center
            color #f00
            font-size 1rem
            background -webkit-linear-gradient(left, #F2F2F2 , #FFF)
            background -o-linear-gradient(right, #F2F2F2, #FFF)
            background -moz-linear-gradient(right, #F2F2F2, #FFF)
            background linear-gradient(to right, #F2F2F2 , #FFF)
        &-data
            width 100%
            padding 5px
            padding-top 0px
            

table
    width 100%
    table-layout fixed
    td,th
        height 25px
        padding .375rem
        text-align center
        font-size 0.75rem
        color #666
    th
        text-align center
        font-weight 500
        height 35px
        max-height 35px
        padding 0px
        
.table-heading
    background-color #ddd
    height 35px
    width 100%
    text-align center
    margin-top 10px
    line-height 35px
    color #fff
    font-size 0.875rem
    
.tables-container
    flex-wrap nowrap
    overflow-x auto
    padding-bottom 15px
    
.heading-table
    position absolute
    bottom 20px
    td,th
        text-align left
        padding-left 0px
    
.table-striped
    border 1px solid #D7D7D7
    border-top 0px
    th
        background-color #F7F7F7
        color #333
    tbody
        tr
            &:nth-of-type(odd)
                background-color #E5EFEF
            &:nth-of-type(even)
                background-color #F7F7F7
.col-2-table-container,
.col-4-table-container,
.col-5-table-container
    padding-left 5px
    padding-right 5px
.col-2-table-container
    min-width 200px
    max-width 200px
.col-4-table-container
    min-width 320px
    max-width 330px
.col-5-table-container
    min-width 400px
    max-width 400px
.red-bg
    background-color #E5433C
    
.blue-bg
    background-color #47A4AD
    
.green-bg
    background-color #96A145