<div class="graph-wrapper row">
    <div class="col-sm-12 data-value-container">
        <div class="data-value"><calc-outlet ref="tlOutputResourceBudgetLeft" format="0.0%"></calc-outlet></div>
        <div class="data-label"><text-outlet key="GraphLabel1"></text-outlet></div>
    </div>
    <div class="col-sm-12 data-value-container">
        <div class="data-value"><calc-outlet ref="tlOutputResourceTrust" format="0.0%"></calc-outlet></div>
        <div class="data-label"><text-outlet key="GraphLabel2"></text-outlet></div>
    </div>
    <div class="col-sm-12 data-value-container">
        <div class="data-value"><calc-outlet ref="tlOutputResourceBO" format="0.0%"></calc-outlet></div>
        <div class="data-label"><text-outlet key="GraphLabel3"></text-outlet></div>
    </div>
    <div class="col-sm-12 data-value-container">
        <div class="data-value"><calc-outlet ref="tlOutputResourcePeople" format="0.0%"></calc-outlet></div>
        <div class="data-label"><text-outlet key="GraphLabel4"></text-outlet></div>
    </div>
    <div class="col-sm-12 data-value-container">
        <div class="data-value"><calc-outlet ref="tlOutputResourceGTM" format="0.0%"></calc-outlet></div>
        <div class="data-label"><text-outlet key="GraphLabel5"></text-outlet></div>
    </div>
    <div class="col-sm-12 data-value-container">
        <div class="data-value"><calc-outlet ref="tlOutputResourceProduct" format="0.0%"></calc-outlet></div>
        <div class="data-label"><text-outlet key="GraphLabel6"></text-outlet></div>
    </div>
</div>