<!--
We will create a family tree using just CSS(3)
The markup will be simple nested lists
-->
<div class="cashflowtree-wrapper">
    <div class="header-wrapper">
        <span class="header-text">
            <isma-calc-outlet ref="tlOutput_toolROIC_Two_B2"></isma-calc-outlet>
        </span>
    </div>
    <!-- <div class="trees-container row">
        <div class="tree col-sm-12">
            <ul>
                <li>
                    <span class="data-container">
                        <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_I5"></isma-calc-outlet></span>
                        <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_I7"></isma-calc-outlet></span>
                    </span>
                    <ul>
                        <li>
                            <span class="data-container">
                                <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_D11"></isma-calc-outlet></span>
                                <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_D12"></isma-calc-outlet></span>
                            </span>
                            <ul>
                                <li>
                                    <span class="data-container">
                                        <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_C15"></isma-calc-outlet></span>
                                        <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_C16"></isma-calc-outlet></span>
                                    </span>
                                    <ul>
                                        <li>
                                            <span class="data-container">
                                                <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_C17"></isma-calc-outlet></span>
                                                <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_C18"></isma-calc-outlet></span>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="data-container">
                                                <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_C19"></isma-calc-outlet></span>
                                                <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_C20"></isma-calc-outlet></span>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="data-container">
                                                <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_C21"></isma-calc-outlet></span>
                                                <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_C22"></isma-calc-outlet></span>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <span class="data-container">
                                        <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_F15"></isma-calc-outlet></span>
                                        <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_F16"></isma-calc-outlet></span>
                                    </span>
                                    <ul>
                                        <li>
                                            <span class="data-container">
                                                <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_F17"></isma-calc-outlet></span>
                                                <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_F18"></isma-calc-outlet></span>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="data-container">
                                                <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_F19"></isma-calc-outlet></span>
                                                <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_F20"></isma-calc-outlet></span>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="data-container">
                                                <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_F21"></isma-calc-outlet></span>
                                                <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_F22"></isma-calc-outlet></span>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="data-container">
                                                <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_F23"></isma-calc-outlet></span>
                                                <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_F24"></isma-calc-outlet></span>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="data-container">
                                <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_I11"></isma-calc-outlet></span>
                                <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_I12"></isma-calc-outlet></span>
                            </span>
                            <ul>
                                <li>
                                    <span class="data-container">
                                        <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_I15"></isma-calc-outlet></span>
                                        <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_I16"></isma-calc-outlet></span>
                                    </span>
                                </li>
                                <li>
                                    <span class="data-container">
                                        <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_I17"></isma-calc-outlet></span>
                                        <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_I18"></isma-calc-outlet></span>
                                    </span>
                                </li>
                                <li>
                                    <span class="data-container">
                                        <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_I19"></isma-calc-outlet></span>
                                        <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_I20"></isma-calc-outlet></span>
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <span class="data-container">
                                <span class="data-label"><isma-calc-outlet ref="tlOutput_toolROIC_Two_L11"></isma-calc-outlet></span>
                                <span class="data-value"><isma-calc-outlet ref="tlOutput_toolROIC_Two_L12"></isma-calc-outlet></span>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>        
    </div> -->
    <div class="tree-container">
        <custom-accordian headingLabelRef="tlOutput_toolROIC_M13" headingValueRef="tlOutput_toolROIC_J17" [dataContentRef]="OpCashFlowTemplate" isOpen="true">
            <ng-template #OpCashFlowTemplate>
                <div class="data-table level-0 row">
                    <div class="data-col col-sm-2 col-md">
                        <custom-accordian headingLabelRef="tlOutput_toolROIC_M13" headingValueRef="tlOutput_toolROIC_J17" [dataContentRef]="OpCashFlowTemplate">
                            <ng-template #OpCashFlowTemplate>
                                <div class="data-table level-1 row">
                                    <div class="data-col col-sm-2 col-md">
                                        <custom-accordian headingLabelRef="tlOutput_toolROIC_Two_C15" headingValueRef="tlOutput_toolROIC_Two_C16" [dataContentRef]="RevenueTemplate">
                                            <ng-template #RevenueTemplate>
                                                <div class="data-table">
                                                    <div class="data-row row">
                                                        <div class="data-label col-sm">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_C17"></isma-calc-outlet>
                                                        </div>
                                                        <div class="data-value col-sm">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_C18"></isma-calc-outlet>
                                                        </div>
                                                    </div>
                                                    <div class="data-row row">
                                                        <div class="data-label col-sm">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_C19"></isma-calc-outlet>
                                                        </div>
                                                        <div class="data-value col-sm">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_C20"></isma-calc-outlet>
                                                        </div>
                                                    </div>
                                                    <div class="data-row row">
                                                        <div class="data-label col-sm">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_C21"></isma-calc-outlet>
                                                        </div>
                                                        <div class="data-value col-sm">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_C22"></isma-calc-outlet>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </custom-accordian>
                                    </div>
                                    <div class="data-col col-sm-2 col-md">
                                        <custom-accordian headingLabelRef="tlOutput_toolROIC_Two_F15" headingValueRef="tlOutput_toolROIC_Two_F16" [dataContentRef]="CostTemplate">
                                            <ng-template #CostTemplate>
                                                <div class="data-table">
                                                    <div class="data-row row">
                                                        <div class="data-label col-sm-12">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_F17"></isma-calc-outlet>
                                                        </div>
                                                        <div class="data-value col-sm-12">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_F18"></isma-calc-outlet>
                                                        </div>
                                                    </div>
                                                    <div class="data-row row">
                                                        <div class="data-label col-sm-12">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_F19"></isma-calc-outlet>
                                                        </div>
                                                        <div class="data-value col-sm-12">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_F20"></isma-calc-outlet>
                                                        </div>
                                                    </div>
                                                    <div class="data-row row">
                                                        <div class="data-label col-sm-12">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_F21"></isma-calc-outlet>
                                                        </div>
                                                        <div class="data-value col-sm-12">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_F22"></isma-calc-outlet>
                                                        </div>
                                                    </div>
                                                    <div class="data-row row">
                                                        <div class="data-label col-sm-12">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_F23"></isma-calc-outlet>
                                                        </div>
                                                        <div class="data-value col-sm-12">
                                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_F24"></isma-calc-outlet>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </custom-accordian>
                                    </div>
                                </div>
                            </ng-template>
                        </custom-accordian>
                    </div>
                    <div class="data-col col-sm-2 col-md">
                        <custom-accordian headingLabelRef="tlOutput_toolROIC_Two_I11" headingValueRef="tlOutput_toolROIC_Two_I12" [dataContentRef]="WCMTemplate">
                            <ng-template #WCMTemplate>
                                <div class="data-table">
                                    <div class="data-row row">
                                        <div class="data-label col-sm">
                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_I15"></isma-calc-outlet>
                                        </div>
                                        <div class="data-value col-sm">
                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_I16"></isma-calc-outlet>
                                        </div>
                                    </div>
                                    <div class="data-row row">
                                        <div class="data-label col-sm">
                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_I17"></isma-calc-outlet>
                                        </div>
                                        <div class="data-value col-sm">
                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_I18"></isma-calc-outlet>
                                        </div>
                                    </div>
                                    <div class="data-row row">
                                        <div class="data-label col-sm">
                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_I19"></isma-calc-outlet>
                                        </div>
                                        <div class="data-value col-sm">
                                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_I20"></isma-calc-outlet>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </custom-accordian>
                    </div>
                    <div class="data-col col-sm-2 col-md">
                        <div class="data-label">
                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_L11"></isma-calc-outlet>
                        </div>
                        <div class="data-value">
                            <isma-calc-outlet ref="tlOutput_toolROIC_Two_L12"></isma-calc-outlet>
                        </div>
                    </div>
                </div>
            </ng-template>
        </custom-accordian>
    </div>
    <div class="chart-container">
        <div class="chart-title">
            <!-- <isma-calc-outlet ref="tlOutput_toolROIC_Two_B2"></isma-calc-outlet> -->
        </div>
        <div class="chart-data">
            <ism-chart 

            [rangeRef]="[['tlOutput_toolROIC_Two_D12', 'tlOutput_toolROIC_Two_I12','tlOutput_toolROIC_Two_L12','tlOutput_toolROIC_Two_I7']]"

            [xAxis]="{ 'categories': ['tlOutput_toolROIC_Two_X11', 'tlOutput_toolROIC_Two_X12','tlOutput_toolROIC_Two_X13','tlOutput_toolROIC_Two_X14']}" 

            [yAxis]="{'labels': { 'format': '{value:$0.0a}' }, 'title': { 'text' : 'Change In Cash' }}" 

            [seriesOptions]="[{type: 'column', 'name': 'Change In Cash'}]" 

            [chartOptions]='{ "plotOptions": { "series": { "colorByPoint": "true", "dataLabels": { "enabled": false } } }, "legend": { "enabled": false }}'>
                
            </ism-chart>
        </div>
    </div>

</div>
