.planningTool .eventBody .content-div .metrics {
  padding: 10px 0;
  border-bottom: 1px solid rgba(89,88,84,0.2);
  color: #000;
}
.planningTool .eventBody .content-div .metrics .metric {
  text-align: center;
  align-items: center;
  line-height: 20px;
  border-right: 1px solid #6c3;
  padding: 7px 3px;
  justify-content: center;
}
.planningTool .eventBody .content-div .metrics .metric:last-child {
  border-right: 0;
}
.planningTool .eventBody .content-div .metrics .metric::before {
  display: initial;
}
.planningTool .eventBody .content-div .metrics .metric text-outlet {
  width: 100%;
}
.planningTool .eventBody .content-div .metrics .metric calc-outlet {
  padding: 0;
  padding-top: 5px;
  text-align: center;
}
.planningTool .eventBody .content-div .doofocus-content .data-container .data-actions {
  position: relative;
  background: rgba(236,236,234,0.43);
  margin-top: 3px;
  border: 1px solid #ececea;
}
.planningTool .eventBody .content-div .doofocus-content .data-container .data-actions .custom-checkbox {
  padding: 8px;
  display: inline-block;
  color: #4f7345;
}
.planningTool .eventBody .content-div .doofocus-content .data-container .data-actions .custom-checkbox:before {
  content: " ";
  font-family: FontAwesome;
  border: 2px solid #666;
  padding: 2px 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #ebebeb;
}
.planningTool .eventBody .content-div .doofocus-content .data-container .data-actions .custom-checkbox.checked:before {
  content: "\F00C";
  padding: 2px;
}
.planningTool .eventBody .content-div .doofocus-content .data-container .data-actions .custom-checkbox.checked ~ .actions {
  font-weight: 500;
}
.planningTool .eventBody .content-div .doofocus-content .data-container .data-actions .custom-checkbox.disabled {
  pointer-events: none;
}
.planningTool .eventBody .content-div .doofocus-content .data-container .data-actions .custom-checkbox.disabled:hover {
  content: "option is disabled as previously selected or actions max check.";
}
.planningTool .eventBody .content-div .doofocus-content .data-container .data-actions .custom-checkbox.disabled:after {
  content: " ";
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 8px;
  right: 0;
  background-color: rgba(255,255,255,0.5);
  width: 24px;
  height: 24px;
}
.planningTool .eventBody .content-div .doofocus-content .data-container .actions {
  display: inline-block;
  padding-left: 12px;
  padding-right: 25px;
  max-width: calc(100% - 45px);
}
.planningTool .eventBody .content-div .doofocus-content .data-container .tooltip-data {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.planningTool .eventBody .content-div .doofocus-content .left-pane .action-description {
  color: #000;
  font-weight: 500;
  padding-bottom: 5px;
}
.planningTool .eventBody .content-div .doofocus-content .right-pane .upper-data .data-value-container:first-child {
  color: #000;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.planningTool .eventBody .content-div .doofocus-content .right-pane .upper-data .data-value-container:nth-child(2) {
  margin-bottom: 1em;
}
.planningTool .eventBody .content-div .doofocus-content .right-pane .upper-data .data-value-container:last-child {
  border-top: 1px solid #000;
}
.planningTool .eventBody .content-div .doofocus-content .right-pane .upper-data .data-value-container .data-value {
  text-align: center;
}
.planningTool .eventBody .content-div .doofocus-content .right-pane .upper-data .submit-btn {
  text-align: center;
  padding-top: 20px;
}
.planningTool .eventBody .content-div .doofocus-content .right-pane .upper-data .submit-btn text-outlet {
  background-color: #4f7345;
  color: #fff;
  padding: 5px 20px;
}
.planningTool .eventBody .content-div .doofocus-content .right-pane .graph-data .doo-allocation-header {
  text-align: center;
  padding-top: 25px;
  color: #000;
  font-weight: 500;
}
.planningTool .eventBody .content-div .submit-footer {
  text-align: center;
  margin-bottom: 30px;
}
.planningTool .eventBody .content-div .submit-footer text-outlet {
  background: #4f7345;
}
