@import '../../../../assets/css/colors.styl'

.tooltip-icon
    cursor pointer
    margin-right 5px
    display inline-block
    background-color #000
    color #FFF
    height 20px
    width 20px
    // animation-duration 2s !important
    &:hover
        &:before
            color #FFF
    .icon
        height 20px
        width 20px
        margin-top -4px
        
:host-context(.colorOne)
    .tooltip-icon
        background-color $color1
        &:hover
            background-color $light-color1
:host-context(.colorTwo)
    .tooltip-icon
        background-color $color2
        &:hover
            background-color $light-color2
:host-context(.colorThree)
    .tooltip-icon
        background-color $color3
        &:hover
            background-color $light-color3
:host-context(.colorFour)
    .tooltip-icon
        background-color $color4
        &:hover
            background-color $light-color4
            
:host-context(.colorOne.isErActive)
    .tooltip-icon
        background-color $er-color1
        &:hover
            background-color $er-light-color1
:host-context(.colorTwo.isErActive)
    .tooltip-icon
        background-color $er-color2
        &:hover
            background-color $er-light-color2
:host-context(.colorThree.isErActive)
    .tooltip-icon
        background-color $er-color3
        &:hover
            background-color $er-light-color3
:host-context(.colorFour.isErActive)
    .tooltip-icon
        background-color $er-color4
        &:hover
            background-color $er-light-color4
            
.customAnimation
    -webkit-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: customFlipX;
    animation-name: customFlipX;
    background-color #F00 !important

@keyframes customFlipX{
    0% {
        -webkit-transform: perspective(400px) rotateX(-90deg);
        transform: perspective(400px) rotateX(-90deg);
    }
    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}
