<div class="cashflow-wrapper">
    <div class="header-container col-sm-12">
        <div class="header-text">
            <isma-calc-outlet ref="tlOutput_toolCashFlow_B2"></isma-calc-outlet>
        </div>
        <div class="header-info">
            <isma-calc-outlet ref="tlOutput_toolCashFlow_B3"></isma-calc-outlet>
        </div>
    </div>
    <div class="report-wrapper row">
        <div class="report-container col-sm-12">
            <div class="data-row header-row total-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_C5"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_H5" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row header-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_C7"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_D9"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_H9" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_D10"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_H10" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_D11"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_H11" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_D12"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
            </div>

            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_E13"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_G13" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_E14"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_G14" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_E15"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_G15" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_E16"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_G16" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_E17"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_G17" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row secondary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_E18"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_G18" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_D19"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_H19" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row header-row total-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_C21"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_H21" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row header-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_C23"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_D25"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_G25" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <!-- <isma-calc-outlet ref="tlOutput_toolCashFlow_D25"></isma-calc-outlet> -->
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_H26" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_C28"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_H28" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_C30"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_H30" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row header-row total-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_C32"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <!-- <isma-calc-outlet ref="tlOutput_toolCashFlow_H21"></isma-calc-outlet> -->
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_D34"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_G34" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_D35"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_G35" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_D36"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_G36" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_D37"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_G37" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
            <div class="data-row primary-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <!-- <isma-calc-outlet ref="tlOutput_toolCashFlow_D37"></isma-calc-outlet> -->
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_H38" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row header-row total-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_C40"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_H40" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row header-row total-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_C42"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_H42" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>

            <div class="data-row header-row total-row row">
                <div class="data-label col-sm-2 col-md-4">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_C44"></isma-calc-outlet>
                </div>
                <div class="data-value col-sm-2 col-md">
                    <isma-calc-outlet ref="tlOutput_toolCashFlow_H44" format="0,0" highlightNegative="true"></isma-calc-outlet>
                </div>
            </div>
        </div>
    </div>
</div>