@import '../../../../assets/css/colors.styl'

:host
    overflow auto
    
.operations-data-container
    // height calc(100% - 250px)
    // overflow-x auto
    // overflow-y hidden
    .page-heading
        text-transform uppercase
        color #fff
        font-size 1.25rem
        padding 10px 25px
        background-color #0055b0
        margin 0 10px
        calc-outlet, text-outlet
            font-size 1.25rem
            text-transform uppercase
            color #fff
    .data-common-container
        margin 5px 10px 10px
        .data-container
            padding 0
            // padding-right 2px
            .data-col-container
                margin-right 5px
                background-color #fff
                padding 10px 25px
                height 100%
                @media screen and (max-width 768px)
                    margin-right 0
                .data-col-val
                    text-align center
                    padding 0
                .data-row-col
                    padding 15px 0
                    border-bottom 1px solid #d4d4d4
                    justify-content space-between
                    &:first-child
                        border-bottom 0
                    &:last-child
                        border-bottom 0
                    .data-heading-op
                        padding-left 25px
                        padding 0
                        font-size 1.125rem
                    .data-heading-fte
                        font-size 1.125rem
                        text-align center
                        padding-right 25px
                        padding 0
                    .data-col-primary
                        color $color1
                        padding-bottom 5px
                        padding 0
                        font-size 1rem
                        white-space nowrap
                        calc-outlet 
                            font-size 1.25rem
    .secondary
        .data-label
            padding 0
            font-style italic
            padding-top 5px
            padding-left 30px
            font-size 0.875rem
            calc-outlet, text-outlet
                font-size 0.875rem
        .data-value
            padding 0
            font-style italic
            padding-top 5px
    .internal-readiness-container
        padding 0
        // padding-left 2px
        .data-col-container
            padding 10px 25px
            margin-left 5px
            background-color #fff
            .data-label
                font-size 1.125rem
                padding 10px 0
            .chart
                padding-top 10px
            @media screen and (max-width 768px)
                // margin-right 0
                margin-left 0
            //     background-color #fff
            //     margin-top 10px 
            //     padding 10px 25px

@media screen and (max-width: 768px)
    .operations-data-container
        .data-common-container
            .internal-readiness-container 
                .data-col-container
                    margin-left 0
                    margin-top 10px
                    /*margin-bottom 10px*/
