.goal-setting-wrapper
    .data-container
        .header-row
            .data-label
                color #000
                font-weight 600
                text-align center
            .slider-label
                justify-content space-between
                .tick
                    color #000
                    font-weight 600
                    &__1
                        transform translate(-25%,0)
                    &__2
                        transform translate(-50%,0)
                    &__3
                        transform translate(25%,0)
        .data-row
            .group-title
                padding 15px
                &-text
                    font-size 1rem
                    color #00a9e0
                    padding 15px 0
                    font-weight 600
                &-input
                    text-align center
            .goal-setting-row
                padding 5px 15px
                .goal-setting-slider-label
                    font-weight 600
                    align-self center
                .goal-setting-data-label
                    text-align center
                .goal-setting-slider
                    &-values
                        justify-content space-between